body {
    background: #52c234;
    background: -webkit-linear-gradient(to bottom, #061700, #52c234);
    background: linear-gradient(to bottom, #061700, #52c234);
    background-size: cover;
}
.Calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "a a a a"
        "a a a a"
        "a a a a"
        "b b b b"
        "b b b b"
        "b b b b"
        "b b b b"
        "b b b b";
    overflow: hidden;
    height: 800px;
    width: 400px;
    border: 1px solid #bdc3c7;
    border-radius: 20px;
    box-shadow: 0 6px 20px #1e272e;
    color: #fff;
}
.Display {
    grid-area: a;
    // background-color: #3c40c6;
    background: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 5%,
        rgba(255, 255, 255, 0.15) 30%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 80%,
        rgba(255, 255, 255, 0.4) 100%
    );
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: #ffc312;
    overflow: hidden;
    text-align: center;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "d1 d2 d2 d2"
        "d3 d3 d3 d3"
        "d4 d4 d4 d4";
}
.Controls {
    grid-area: b;
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.Inputs {
    background-color: #1e272e;
    color: #fff;
    border: none;
    user-select: none;
}
button {
    font-size: 1.2rem;
    outline: none;
    &:hover {
        color: #ffc312;
    }
}
#equals {
    color: #ffc312;
    border-bottom-right-radius: 20px;
}
#decimal {
    border-bottom-left-radius: 20px;
}
.Brand {
    grid-area: d1;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    user-select: none;
    z-index: -1;
    &:after {
        content: " true solar";
        font-size: 6px;
    }
}
.Expression {
    grid-area: d2;
    color: #05c46b;
    font-size: 1rem;
    padding-top: 0.2rem;
    z-index: -1;
}
.Output {
    grid-area: d3;
    align-self: flex-end;
    z-index: -1;
}
.Footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    text-align: right;
    width: 100%;
    color: #1e272e;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    a {
        text-decoration: none;
        color: inherit;
    }
    @media (max-width: 600px) {
        display: none;
    }
}

@media (max-height: 850px) and (max-width: 450px) {
    .Calc {
        border: none;
        width: 100vw;
        height: calc(100vh - 60px);
        box-shadow: none;
    }
    .Display {
        background: #3c40c6;
    }
    .Display,
    .Calc,
    #equals,
    #decimal {
        border-radius: unset;
    }
    .Output,
    .Expression,
    .Brand {
        z-index: 1;
    }
    .Brand {
        display: none;
    }
    body {
        align-items: flex-end;
        background: #3c40c6;
    }
}
@media (max-height: 850px) and (min-width: 451px) {
    .Calc {
        height: 100vh;
    }
}
